nav {
  display: flex;
  height: 60px;
  padding: 0 25px;
  justify-content: space-between;
  align-items: center;
}
nav .left,
nav .right,
nav .logo {
  flex: 1;
}
nav .left {
  display: flex;
  gap: 25px;
}
nav .right {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
}
nav .logo {
  height: 80px;
  margin-top: 40px;
  background: white;
  width: 200px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .logo img {
  height: 60px;
}
