.banner {
  height: calc(80vh - 60px);
  background: url("../../assets/img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 50px;
}
.banner .search-box {
  width: 50%;
  height: 50px;
  display: flex;
}
.banner .search-box input {
  height: 100%;
  flex: 1;
  padding: 10px;
}
.banner .search-box button {
  color: #fff;
  background: var(--c-accent);
  border: none;
  padding: 20px;
}
